.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
}

.content {
  flex: 1;
  width: 100%;
  min-height: 500px;
  background: #fff;
}
