
/* visible on mobile (matches Header.module.scss breakpoint) */
@media (max-width: 992px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
