@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --primary: #fe2c55;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
